<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>id</key>
        <integer>0</integer>
        <key>title</key>
        <string>if</string>
        <key>topic</key>
        <string>if</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def cond(n):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    if n > 0:</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        n = n + 10</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    else:</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        n = n - 10</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return n</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = cond(x)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>12</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["n","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n","var9"]]</string>
                <key>condition</key>
                <string>[["var9",">","0"], 6, 8]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","+","10"]]]</string>
                <key>condition</key>
                <string>[[], 9, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>3</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string>[[], 8, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>4</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","-","10"]]]</string>
                <key>condition</key>
                <string>[[], 9, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>5</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","+",["10", "*", "if_return"]]]]</string>
                <key>condition</key>
                <string>[[], 10, 6, 8]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var9"],["y",["var9","+",["10", "*", "if_return"]]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>
    
    
    <dict>
        <key>id</key>
        <integer>1</integer>
        <key>title</key>
        <string>simple 1</string>
        <key>topic</key>
        <string>basic</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def func(a, b):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    a = a * 3</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    b = b - 1</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    c = a + b</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return c</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    z = func(x, y)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>12</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"], ["y","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"], ["y","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a","var8"], ["b","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","*","3"]], ["b","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","*","3"]], ["b",["var9","-", "1"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>3</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","*","3"]], ["b",["var9","-", "1"]],["c",[["var8","*","3"],"+",["var9","-", "1"]]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>4</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","*","3"]], ["b",["var9","-", "1"]],["c",[["var8","*","3"],"+",["var9","-", "1"]]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"], ["b","var9"],["z",[["var8","*","3"],"+",["var9","-", "1"]]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>
    
    
    <dict>
        <key>id</key>
        <integer>2</integer>
        <key>title</key>
        <string>while 1</string>
        <key>topic</key>
        <string>while</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def loop(a, b):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    while a > 10:</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        b = b + 1</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        a = a - 1</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return b</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    z = loop(x, y)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>12</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a","var8"],["b","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["a",["var8","-","cont"]],["b",["var9","+","cont"]]]</string>
                <key>condition</key>
                <string>[[["var8","-","cont"],">","10"],[8,7,9]]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["a",["var8","-","cont","+","1"]],["b",["var9","+","cont"]]]</string>
                <key>condition</key>
                <string>[[],[6,8,0]]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>3</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["a",["var8","-","cont"]],["b",["var9","+","cont"]]]</string>
                <key>condition</key>
                <string>[[],[7,6,0]]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>4</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","-","cont"]],["b",["var9","+","cont"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"], ["z",["var9","+","cont"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            
        </array>
    </dict>

    <dict>
        <key>id</key>
        <integer>3</integer>
        <key>title</key>
        <string>simple 2</string>
        <key>topic</key>
        <string>basic</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def func(a):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    a = a * 3</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return a</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = func(x)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>5</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>6</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var6","*","3"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var6","*","3"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"], ["y",["var6","*","3"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>

    <dict>
        <key>id</key>
        <integer>4</integer>
        <key>title</key>
        <string>simple 3</string>
        <key>topic</key>
        <string>basic</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def func(a):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    a = a * 10</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return a</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = func(x)</string>
                <key>hasTf</key>
                <false/>
            </dict>
             <dict>
                <key>line</key>
                <string>    z = func(y)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>5</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>6</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a","var6"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var6","*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var6","*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"], ["y",["var6","*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"], ["y",["var6","*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var6","*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",[["var6","*","10"],"*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",[["var6","*","10"],"*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var6"], ["y",["var6","*","10"]], ["z",[["var6","*","10"],"*","10"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>

        <dict>
        <key>id</key>
        <integer>5</integer>
        <key>title</key>
        <string>simple 4</string>
        <key>topic</key>
        <string>basic</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def func(a,b,c):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    a = a + 3</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    b = b - 1</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    c = a + 2</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return a, b, c</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    z = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    p, q, r = func(x,y,z)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>13</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>7</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"],["z","var10"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>11</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var8"],["y","var9"],["z","var10"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a","var8"],["b","var9"],["c","var10"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","+","3"]],["b","var9"],["c","var10"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","+","3"]],["b",["var9","-","1"]],["c","var10"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>3</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","+","3"]],["b",["var9","-","1"]],["c",["var8","+","2"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>4</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["a",["var8","+","3"]],["b",["var9","-","1"]],["c",["var8","+","2"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>11</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["p",["var8","+","3"]],["q",["var9","-","1"]],["r",["var8","+","2"]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>

</array>
</plist>
