<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>id</key>
        <integer>0</integer>
        <key>title</key>
        <string>if</string>
        <key>topic</key>
        <string>if</string>
        <key>code</key>
        <array>
            <dict>
                <key>line</key>
                <string>def cond(n):</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    if n > 0:</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        n = n + 10</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    else:</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>        n = n - 10</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    return n</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>def main():</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>    x = </string>
                <key>hasTf</key>
                <true/>
            </dict>
            <dict>
                <key>line</key>
                <string>    y = cond(x)</string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string></string>
                <key>hasTf</key>
                <false/>
            </dict>
            <dict>
                <key>line</key>
                <string>main()</string>
                <key>hasTf</key>
                <false/>
            </dict>
        </array>
        <key>simulation</key>
        <array>
            <dict>
                <key>line</key>
                <integer>12</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>8</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>9</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["x","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>0</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["n","var9"]]</string>
                <key>condition</key>
                <string></string>
            </dict>
            <dict>
                <key>line</key>
                <integer>1</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n","var9"]]</string>
                <key>condition</key>
                <string>[["var9",">","0"], 6, 8]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>2</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","+","10"]]]</string>
                <key>condition</key>
                <string>[[], 9, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>3</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[]</string>
                <key>condition</key>
                <string>[[], 8, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>4</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","-","10"]]]</string>
                <key>condition</key>
                <string>[[], 9, 5]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>5</integer>
                <key>hascond</key>
                <true/>
                <key>operation</key>
                <string>[["n",["var9","+",["10", "*", "if_return"]]]]</string>
                <key>condition</key>
                <string>[[], 10, 6, 8]</string>
            </dict>
            <dict>
                <key>line</key>
                <integer>10</integer>
                <key>hascond</key>
                <false/>
                <key>operation</key>
                <string>[["y",["var9","+",["10", "*", "if_return"]]]]</string>
                <key>condition</key>
                <string></string>
            </dict>
        </array>
    </dict>
</array>
</plist>
